/*
 基础设置
 * */
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	color: #fff;
}
.clearfix::after{
	clear: both;
	display: block;
	content: "";
}
ul{
	margin-top: 20px;
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #fff;
}
.container{
	max-width: 1200px;
	margin: auto;
}
/*
 图标文字特殊字体
 * */
span{
	font-family: 'Droid Serif', serif;
}
/*
header部分
 * */
header{
	width: 100%;
	padding: 12px;
	background-color: rgba(0,0,0,.2);
	position: fixed;
}
header .logo{
	float: left;
}
header .logo img{
	display: inline-block;
	vertical-align: middle;
}
header .topMenu{
	float: right;
}
header .topMenu ul li{
	float: left;
	margin-right: 40px;
}
header .topMenu ul a{
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
header .topMenu ul a:hover{
	color: #339BEB;
}
header .logo span{
	font-size: 3em;
	vertical-align: middle;
}

/*
 banner属性部分
 * */

/*
 banner 背景图片
 * */
.banner{
	min-height: 750px;
	background: url(../img/banner.jpg) no-repeat center top;
	background-size: cover;
}
/*
 文字居中与效果
 * */
/*
//块元素居中
 .banner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}
 * */
.cbanner{
	display: block;
	position: absolute;
	max-width: 800px;
	height: 30px;
	line-height: 30px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 250px auto;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,.8);
} 
.cbanner h2{
	font-size: 2em;
	margin-bottom: 30px;
}
.cbanner h2 span{
	color: #339BEB;
}
.cbanner p i{
	font-style: normal;
	color: #000;
	padding: 1px 1px;
    background-color:rgba(255,255,255,.5);
    text-shadow: none;
}
